exec-once=~/.config/waybar/start.sh zenpower
exec-once=webcord --disable-gpu --start-minimized
exec-once=mpd
exec-once=mpdscribble
exec-once=mpd_discord_richpresence --no-idle
exec-once=mpDris2
exec-once=discord-rich-presence-plex
exec-once=openrgb --startminimized
exec-once=gamemoded
exec-once=steam -silent %U -no-cef-sandbox
exec-once=ckb-next -b
exec-once=syncthing --no-browser
exec-once=discordnp.pl --config ~/.config/discordnp.ini
#exec-once=qbittorrent
