## Env variables

# Hardware decoding on Firefox via nvidia-vaapi-drivers
env = NVD_BACKEND,direct
env = MOZ_DISABLE_RDD_SANDBOX,1
env = MOZ_ENABLE_WAYLAND,1

# Nvidia stuff
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = LIBVA_DRIVER_NAME,nvidia
env = __GL_GSYNC_ALLOWED,1
env = __GL_VRR_ALLOWED,1
env = OGL_DEDICATED_HW_STATE_PER_CONTEXT,ENABLE_ROBUST

# Electron flickering fix
env = ELECTRON_OZONE_PLATFORM_HINT,auto

# Toolkit Backend Variables
env = QT_QPA_PLATFORM,wayland;xcb
env = GDK_BACKEND,wayland,x11,*
env = CLUTTER_BACKEND,wayland

# XDG Specifications
env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_TYPE,wayland
env = XDG_SESSION_DESKTOP,Hyprland

# QT Variables
env = QT_AUTO_SCREEN_SCALE_FACTOR,1
env = QT_WAYLAND_DISABLE_WINDOWDECORATION,1

## Monitors

monitor=desc:CMT GP27-FUS 0000000000001,2560x1440@144,0x0,1,bitdepth,10
#monitor=DP-3,3840x2160@144,0x0,1.5,bitdepth,10
#monitor=desc:Acer Technologies GN246HL LW3AA0018533,1920x1080@120,auto-right,1
monitor=desc:Acer Technologies GN246HL LW3AA0018533,disable
#monitor=desc:Hisense Electric Co. Ltd. HISENSE 0x616D0000,disable
monitor=desc:Hisense Electric Co. Ltd. HISENSE 0x616D0000,3840x2160@120,0x0,2,bitdepth,10

## Startup

exec-once=~/.config/waybar/start.sh zenstats
exec-once=vesktop --disable-gpu --start-minimized
exec-once=mpd --no-daemon
exec-once=mpdscribble
exec-once=mpDris2
#exec-once=openrgb --startminimized
exec-once=gamemoded
exec-once=steam -silent %U -no-cef-sandbox
exec-once=syncthing --no-browser
#exec-once=qbittorrent

experimental {
    xx_color_management_v4 = true
}

cursor {
    no_hardware_cursors = true
    no_break_fs_vrr = true
}

misc {
    vrr=2
    vfr=true
}

render {
    direct_scanout=true
}
