exec-once=~/.config/waybar/start.sh zenpower
exec-once=vesktop --disable-gpu --start-minimized
exec-once=mpd
exec-once=mpdscribble
exec-once=mpDris2
exec-once=openrgb --startminimized
exec-once=gamemoded
exec-once=steam -silent %U -no-cef-sandbox
exec-once=syncthing --no-browser
#exec-once=qbittorrent
