preload = ~/.wallpapers/l_attaque_des_anges_by_deto15_d82etdl.png
preload = ~/.wallpapers/wir_sind_die_jager_by_deto15_d7mfxn2.png
preload = ~/.wallpapers/aincrad_by_deto15_d8cq9cd.png

wallpaper = DP-1,~/.wallpapers/l_attaque_des_anges_by_deto15_d82etdl.png
wallpaper = DVI-D-1,~/.wallpapers/wir_sind_die_jager_by_deto15_d7mfxn2.png
wallpaper = HDMI-A-1,~/.wallpapers/aincrad_by_deto15_d8cq9cd.png

wallpaper = DP-4,~/.wallpapers/l_attaque_des_anges_by_deto15_d82etdl.png
